[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "~=3.0.3"
cooklang = {ref = "4c6bca496e872cf17d64425dbd66fc26884b10fd", git = "git+https://github.com/gardenrobot/py-cooklang.git"}
jinja2 = "~=3.1.4"

[dev-packages]

[requires]
python_version = "3.10"
