<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <h1>{{title}}</h1>
    <div>
        <span><a href=/cookbook/>Cookbook</a></span>
        {% for folder in parent_folders %}
        <span>/</span> <span><a href={{"../"*(parent_folders|length - loop.index)}}>{{folder}}</a></span>
        {% endfor %}
    </div>
    {% if image %}
    <div class=images>
        <details id=recipe-img-tab>
              <summary>Pics:</summary>
              <span><img class=recipe-img data-src="/cookbook/{{image}}"/></span>
        </details>
    </div>
    {% endif %}
    <div class=ingredients>
        <h2>Ingredience:</h2>
        <ul>
            {% for ingr in ingredients %}
            <li>{{ingr.name}}{% if ingr.quantity %}, {{ingr.quantity.amount}}{% if ingr.quantity.unit != None %} {{ingr.quantity.unit}} {% endif %}{% endif %}</li>
            {% endfor %}
        </ul>
    </div>
    <div class=steps>
        <h2>Stoops:</h2>
        {% for step in steps %}
        <div>
            <input type=checkbox class=stepinput>
            <span class=steptext>{{loop.index}}. {{step}}</span>
        </div>
        {% endfor %}
    </div>
    <div class=cooklang_link>
      <a href="/cookbook/{{cooklang_link}}">Download <i>{{title}}.cook</i></a>
    </div>
</body>
<script type="text/javascript">
    // logic for checking off steps
    for (const checkbox of document.getElementsByClassName('stepinput')) {
        checkbox.addEventListener('click', function(ev) {
            classname = 'struckthrough'
            is_checked = ev.target.checked;
            span = ev.target.parentNode.getElementsByClassName('steptext')[0];
            if(is_checked)
                span.classList.add(classname);
            else
                span.classList.remove(classname);
            console.log(ev);
        }, false);
    }

    // logic for image loading
    document.getElementById('recipe-img-tab').addEventListener('click', function(ev) {
        for (const image of document.getElementsByClassName('recipe-img')) {
            image.src = image.getAttribute('data-src');
        }
    }, false);
</script>
</html>
